body {
  a {
    color: white;
    display: block;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background-color: green;
  }

  div.cony {
    width: 300px;
    height: 400px;
    background: url('/images/cony.png') no-repeat;
  }
}
